<!--Display time-->
<form action="action_page.php" style="border:1px solid #ccc">
    <div class="container">
        <h1>Enter Information</h1>
        <p>Please enter your information in the form below.</p>
        <hr>

        <label for="name"><b>Group Name</b></label>
        <input type="text" placeholder="Enter Group Name" name="name" required>

        <label for="size"><b>Group Size</b></label>
        <input type="text" placeholder="Enter Group Size" name="size" required>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Contact Email" name="email" required>

        <label for="phone"><b>Phone Number</b></label>
        <input type="tel" placeholder="Enter Contact Phone Number" name="phone" optional>


        <div class="buttons">
            <button type="button" class="cancelbtn">Cancel</button>
            <button type="submit" class="signupbtn">Sign Up</button>
        </div>
    </div>
</form>