@{
    ViewBag.Title = "Layton, UT Temple Tours";
    //I changed this to ViewBag.Title
}

<h1>@ViewBag.Title</h1>

<h4>Welcome to the Layton, UT Temple Tours Webpage!</h4>
<p>Please sign up for a tour using our link below!</p>
<div>
    <a href="SignUp.cshtml">Appointments</a>
</div>
