@using TempleSignUp.Models.ViewModels
@ViewBag.Title = "Sign Up"

@model TimeListViewModel

@foreach (var x in Model.AvailableTimes)
{
<div class="card">
    <h5 class="card-header">@x.TimeSlot</h5>
</div>
    <br />
}
