@ViewBag.Title = "Booked Appointments"

@model IEnumerable<Group>

@foreach (Group x in Model)
{
    <div class="card">
        <h5 class="card-header">@x.Name</h5>
        <div class="card-body">
            <p class="card-text">Group Size: @x.Size</p>
            <p class="card-text">Email: @x.Email</p>
            <p class="card-text">Phone: @x.Phone</p>
        </div>
    </div>
    <br />
}

@*Not sure how to add the time*@